@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');

body {
  font-family: 'Noto Serif TC', serif;
  padding-top: 1.5em;
}

.title {
  text-align: center;
  color: 	#444444;
  font-size: 16px;
}

.social{
  text-align: center;
}
.social :hover{
  -webkit-transform: scale(1.5); /*放大1.5倍*/
  -webkit-transition: 0.8s; /*用0.8s來做到*/
}

.intro{
  text-align: center;
  color:	#444444;
  font-size: 16px;
}