/*
* 直接取 `tag`
* 字體大小為 1.5字寬
*/

p{
    font-size:1.5em;
  }
  
  /*
  * 設定 `id` 為 `main_article`
  * 字體顏色為紅色
  */
  
  #main_article{
    color:red;
  }
  
  /*
  * 加上 `.` 取 `class`
  * 文字靠右對齊
  */
  
  .comment{
    text-align:right;
  }